<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Home Page</title>
  </head>
  <body>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/create">Create user</a></li>
    </ul>
    <h2>List user</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>City</th>
        <th>Action</th>
      </tr>
      <% for (let i = 0; i < listUser.length; i++) { %>
      <tr>
        <td><%= listUser[i].id %></td>
        <td><%= listUser[i].email %></td>
        <td><%= listUser[i].name %></td>
        <td><%= listUser[i].city %></td>
        <td>
          <a href="/update/<%= listUser[i].id %>">Edit</a>
          <button>Delete</button>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
